---
layout: index
---

<div class="grid_9">
  <div class="grid_9">
    <!-- {% include sletat-slider.html %} -->
  </div>

  <div class="slider-container grid_9">
      <div id="slider">
        {% for item in site.categories.news limit:7 %}
          <a href='{{site.baseurl}}{{item.url}}' alt="{{item.title}}" title="{{item.title}}">
            <img src="{{site.baseurl}}{{item.image}}" alt="{{item.title}}" title="{{item.title}}"/>
          </a>
        {% endfor %}
      </div>

      <div class='slide-buttons'>
        {% for item in site.categories.news limit:7 %}
          <div class="slide-button" data-value="{{forloop.index0}}">
            <img src="{{site.baseurl}}{{item.image}}" alt="{{item.title}}" title="{{item.title}}"/>
          </div>
        {% endfor %}
      </div>
  </div>
</div>