<header>
  <div class='grid-container'>

    <div class='grid-25'>
      <div class='logo'><a href='/' title='На главную'><img src='/images/logo.png'/></a></div>
      <div class='title'><a href='/' title='На главную'><h1>«Авиа-Тур»</h1></a></div>
    </div>

    <div class='grid-50 suffix-25'>
      <div class='slogan hide-on-mobile'><img src='/images/slogan.png'/></div>
      <div class='contacts'>
        <div class='phones'>
          <a href="tel:350-57-00">(343) 350-57-00</a>
          <br/>
          <a href="tel:350-51-60">(343) 350-51-60</a>
        </div>
      </div>
    </div>

  </div>
</header>