<header class='header'>
  <div class='header-outer'>
    <div class='header-inner container_12'>

      <div class='grid_3 alpha'>
        <div class='logo'><a href="/" title='На главную'><img src='/images/logo.png'/></a></div>
      </div>

      <div class='grid_7 suffix_2 omega'>
        <div class='slogan'><img src='/images/slogan-w350.png'/></div>
        <div class='contacts'>
          <div class='phone'>(343) 350-57-00<br/>(343) 350-51-60</div>
          <!-- <div class='callback'><a hef='#'>Заказать обратный звонок</a></div> -->
        </div>
      </div>

    </div>
  </div>
</header>