<div class="partners">
  <h2>Наши партнеры</h2>
  <ul>
    <li><img src="images/partners/image000.gif"/></li>
    <li><img src="images/partners/image002.jpg"/></li>
    <li><img src="images/partners/image003.jpg"/></li>
    <li><img src="images/partners/image004.jpg"/></li>
    <li><img src="images/partners/image005.jpg"/></li>
    <li><img src="images/partners/image006.jpg"/></li>
    <li><img src="images/partners/image007.jpg"/></li>
    <li><img src="images/partners/image008.gif"/></li>
    <li><img src="images/partners/image014.jpg"/></li>
    <li><img src="images/partners/image015.jpg"/></li>
    <li><img src="images/partners/image017.jpg"/></li>
    <li><img src="images/partners/image019.jpg"/></li>
    <li><img src="images/partners/image025.gif"/></li>
    <li><img src="images/partners/biblio-globus.png"/></li>
  </ul>
</div>