<div class="left-menu grid_3">
  <ul>
    <li><a href="/school/">Школа туриста</a></li>
    <li><a href="/weddings/">Свадьба за рубежом</a></li>
    <li><a href="/team-retreats/">Корпоративные мероприятия</a></li>
    <li><a href="/fairs/">Международные выставки</a></li>
    <li><a href="/blog">Заметки путешественника</a></li>
    <li><a href="/image-gallery">Фотогалерея</a></li>
    <li><a href="/credit-cards/">Оплата по картам</a></li>
    <li><a href="/discount-cards/">Дисконтные карты</a></li>
    <li><a href="/gift-certificates">Подарочные сертификаты</a></li>
    <li><a href="/health-insurance/">Медицинское страхование</a></li>
    
    <h2>Поиск тура</h2>
    <script src="http://ui.sletat.ru/client/linker.js?settings={formViewMode:'block'}&sfx=_Z4IhX" type="text/javascript"></script><iframe  id="sm_slySearch_Z4IhX" src="http://ui.sletat.ru/SearchForm.html?sfx=_Z4IhX&fbg=f4eedf&mbg=ffffff&bbg=ffffff&bbd=eeeeee&cbd=abadb3&c1=222222&c2=838383&c3=9d1414&c4=dac6a1&style=p.caption%7Bfont-weight%3A%20normal%20!important%3B%7Dp.caption%7Bfont-style%3A%20italic%20!important%3B%7Dbody%20div%23sf%7B-moz-border-radius%3A5px%20!important%3Bborder-radius%3A%205px%20!important%3B%7Dp.caption%7Bfont-family%3A%20Georgia%2C%20serif%20!important%3B%7D&tpl=vert&dptCity=1265&country=40&hideShopTours=0&settings={'plugins':[]}"  style="background:url('http://ui.sletat.ru/gfx/ld3.gif') no-repeat center center;" width="170" height="366" frameborder="0" scrolling="no"></iframe>
    <input type="button" value="Найти туры" onclick="sm_sly_Z4IhX.go()"/>
  </ul>
</div>