<div class='side-menu'>
  <ul>
    <li class='mobile-grid-100'><a href="/school/">Школа туриста</a></li>
    <li class='mobile-grid-100'><a href="/weddings/">Свадьба за рубежом</a></li>
    <li class='mobile-grid-100'><a href="/team-retreats/">Корпоративные мероприятия</a></li>
    <li class='mobile-grid-100'><a href="/fairs/">Международные выставки</a></li>
    <li class='mobile-grid-100'><a href="/blog">Заметки путешественника</a></li>
    <li class='mobile-grid-100'><a href="/image-gallery">Фотогалерея</a></li>
    <li class='mobile-grid-100'><a href="/credit-cards/">Оплата по картам</a></li>
    <li class='mobile-grid-100'><a href="/discount-cards/">Дисконтные карты</a></li>
    <li class='mobile-grid-100'><a href="/gift-certificates">Подарочные сертификаты</a></li>
    <li class='mobile-grid-100'><a href="/health-insurance/">Медицинское страхование</a></li>
  </ul>
</div>