<div>
  <script type="text/javascript" src="//ui.sletat.ru/module-4.0/core.js" charset="utf-8"></script>
  <script type="text/javascript">sletat.FrameSearch.$create({
    city                 : 1265,
    theme                : "orange-light",
    formType             : "vertical",
    jumpToTarget         : "blank",
    jumpToAddress        : "http://aviatour-ekb.ru/search",
    resultFullCountRows  : 10,
    resultShortCountRows : 10,
    resultGroupCountRows : 10,
    pause                : 500,
    useCard              : false,
    dateOffset           : 0,
    dateRange            : 0
  });</script><span class="sletat-copyright">Идет загрузка модуля <a href="http://sletat.ru/" title="поиск туров" target="_blank">поиска туров</a> &hellip;</span>
</div>