footer
  color: #fff
  min-height: em(200)
  padding: em(20) 0 em(20) em(130)
  @include background-image(url('/images/giraffe-right-200.png'), linear-gradient(#4EACE0, #1F80C9))
  background-repeat: no-repeat
  background-position: bottom left

  a
    color: #fff

  .mertika
    text-align: right