header
  padding-top: em(20)
  @include background-image(url('/images/giraffe-left-200.png'), linear-gradient(#4EACE0, #1F80C9))
  background-repeat: no-repeat
  background-position: bottom right

  .logo
    text-align: center

    img
      width: em(120)

  .title
    text-align: center
    font-family: 'PT Serif', serif

    a
      color: #fff
      text-decoration: none
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4)
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      text-rendering: optimizeLegibility

  .slogan
    text-align: right
    line-height: em(40)

  .contacts
    text-align: right

    .phones
      a
        color: #fff
        font-size: em(30)
        text-decoration: none
        font-family: 'PT Serif', serif
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2)
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        text-rendering: optimizeLegibility

@media screen and (max-width: $media-mobile-max)
  header
    padding-bottom: em(20)
    @include linear-gradient(#4EACE0, #1F80C9)

    .contacts
      text-align: center

      .phones
        a
          font-size: em(20)