.left-menu
  ul
    color: #fff
    padding: 10px
    list-style: none
    font-size: 1.2em
    border-radius: 5px
    background-color: #1F80C9
    // +linear-gradient(#1F80C9, #4EACE0)

    li
      margin-left: 0
      margin-bottom: 1.6em
      font-size: 1em
      line-height: 1.2em
      font-style: italic

      a
        color: #fff

        &:hover
          color: #FD8736