<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    
    <div class="page-container container_12">
      {% include main-menu.html %}

      {% include side-menu.html %}

      <div class="content-wrapper grid_9">
        {{ content }}
      </div>

      {% if page.url == '/' %}
        <div class="container_12">
          <div class="grid_12">
            {% include credit-cards.html %}
            {% include partners.html %}
          </div>
        </div>
      {% endif %}

    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>