body{font-family:Georgia,"Times New Roman",Times,serif}
.header{height:220px;margin-bottom:20px;background:#4eace0;background-repeat:no-repeat;background-position:bottom right;background-image:url("/images/giraffe-left-200.png");background-image:url("/images/giraffe-left-200.png"),linear-gradient(to top,#1f80c9,#4eace0);background-image:url("/images/giraffe-left-200.png"),-webkit-gradient(linear,bottom,top,from(#1f80c9),to(#4eace0));background-image:url("/images/giraffe-left-200.png"),-webkit-linear-gradient(top,#1f80c9,#4eace0);background-image:url("/images/giraffe-left-200.png"),-moz-linear-gradient(top,#1f80c9,#4eace0);background-image:url("/images/giraffe-left-200.png"),-ms-linear-gradient(top,#1f80c9,#4eace0);background-image:url("/images/giraffe-left-200.png"),-o-linear-gradient(top,#1f80c9,#4eace0);background-image:url("/images/giraffe-left-200.png"),linear-gradient(to top,#1f80c9,#4eace0);}
.header .logo{text-align:center;line-height:220px}
.header .title{cursor:pointer;font-family:'Ubuntu',sans-serif;}
.header .title h1{color:#fd8736;font-size:4em;line-height:220px}
.header .slogan{color:#fff;font-size:4em;text-align:right;font-family:'Lobster',cursive}
.header .contacts{color:#fff;margin:1em;text-align:right;}
.header .contacts .phone{white-space:nowrap;font-size:1.8em;line-height:1.4em}
.header .contacts .callback{cursor:pointer;display:inline-block;border-bottom:1px dashed #fff;}
.header .contacts .callback:hover{color:#fd8736;border-bottom:1px solid #fd8736}
.main-menu{font-size:1.4em;}
.main-menu ul li{font-style:italic;cursor:pointer;display:inline;white-space:nowrap;margin-left:0;margin-right:1em;border-bottom:1px dashed #999;}
.main-menu ul li a{text-decoration:none;}
.main-menu ul li a:link{color:#111}
.main-menu ul li a:visited{color:#111}
.main-menu ul li.active a{color:#fd8736;border-bottom:1px solid #fd8736}
.main-menu ul li:hover a{color:#fd8736;border-bottom:1px solid #fd8736}
.left-menu ul{list-style:none;font-size:1.4em;}
.left-menu ul li{margin-left:0;font-size:1em;line-height:1.2em;font-style:italic;margin-bottom:2em;}
.left-menu ul li a{color:#000;}
.left-menu ul li a:hover{color:#fd8736}
.content{font-size:1.4em}
#slider{height:300px}
.slider-container{position:relative;margin-bottom:40px;}
.slider-container img{width:auto;max-width:100%}
.slider-container .slide-button{margin:0;padding:0;float:left;width:100px;height:100px;cursor:pointer;display:inline-block;}
.slider-container .slide-button img{width:100px;height:100px;opacity:.6;}
.slider-container .slide-button img:hover{opacity:1}
.slider-container .slider-button{position:absolute;top:150px;color:#000;z-index:10;font-size:2em;line-height:40px;text-align:center;text-decoration:none;background-color:rgba(255,255,255,0.5);}
.slider-container .slider-button:hover{background-color:rgba(255,255,255,0.8)}
.slider-container .slider-button:visited{color:#000}
.slider-container .slider-button.slider-prev{left:0}
.slider-container .slider-button.slider-next{right:0}
.travel-destination{height:460px;overflow:hidden;}
.travel-destination ul{text-align:right;list-style:none;font-size:1.2em;}
.travel-destination ul li a{color:#000}
.travel-destination ul li:visited{color:#000}
.tours{margin-bottom:40px;}
.tours .tours-title,.tours .tour{position:relative;height:220px;text-align:left;margin-bottom:20px;}
.tours .tours-title img,.tours .tour img{width:220px;height:220px}
.tours .tours-title .title,.tours .tour .title{width:210px;padding:10px 5px;left:0;bottom:0;position:absolute;font-size:1.2em;font-style:italic;background-color:rgba(255,255,255,0.7);}
.tours .tours-title .title .price,.tours .tour .title .price{font-style:normal;font-weight:bold}
.tours .tours-title .title span,.tours .tour .title span{display:block}
.tours .tours-title:hover .title,.tours .tour:hover .title{background-color:rgba(255,255,255,0.8)}
#map{position:relative}
.cards{margin-bottom:40px;}
.cards ul{list-style:none;text-align:center;}
.cards ul li{display:inline}
.partners{margin-bottom:40px;}
.partners ul{list-style:none;text-align:center;}
.partners ul li{line-height:45px;display:inline}
#footer{height:220px;background:#0075bc;background-repeat:no-repeat;background-position:bottom left;background-image:url("/images/giraffe-200.png");background-image:url("/images/giraffe-200.png"),linear-gradient(to top,#04427f,#0075bc);background-image:url("/images/giraffe-200.png"),-webkit-gradient(linear,bottom,top,from(#04427f),to(#0075bc));background-image:url("/images/giraffe-200.png"),-webkit-linear-gradient(top,#04427f,#0075bc);background-image:url("/images/giraffe-200.png"),-moz-linear-gradient(top,#04427f,#0075bc);background-image:url("/images/giraffe-200.png"),-ms-linear-gradient(top,#04427f,#0075bc);background-image:url("/images/giraffe-200.png"),-o-linear-gradient(top,#04427f,#0075bc);background-image:url("/images/giraffe-200.png"),linear-gradient(to top,#04427f,#0075bc)}
.leaflet-container.dark .map-tooltip .close,.leaflet-control-layers-toggle,.leaflet-control-zoom-in,.leaflet-control-zoom-out,.leaflet-popup-close-button,.map-tooltip .close,.mapbox-icon{background-image:url("/images/icons-000000.png")}
.stroke{fill:none;stroke:#000;stroke-width:3px}
.fill{fill:#fff}
.graticule{fill:none;stroke:#777;stroke-width:.5px;stroke-opacity:.5}
.land{fill:#222}
.boundary{fill:none;stroke:#fff;stroke-width:.5px}
