@import 'nib'
@import 'nib/gradients'

@font-face
  font-family: 'dinpro'
  src: url('../fonts/dinpro-bold-webfont.eot')
  src: url('../fonts/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro-bold-webfont.woff') format('woff'), url('../fonts/dinpro-bold-webfont.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'dinpro'
  src: url('../fonts/dinpro-light-webfont.eot')
  src: url('../fonts/dinpro-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro-light-webfont.woff') format('woff'), url('../fonts/dinpro-light-webfont.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'dinpro'
  src: url('../fonts/dinpro-medium-webfont.eot')
  src: url('../fonts/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/dinpro-medium-webfont.woff') format('woff'),  url('../fonts/dinpro-medium-webfont.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'dinpro'
  src: url('../fonts/dinpro-regular-webfont.eot')
  src: url('../fonts/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/dinpro-regular-webfont.woff') format('woff'), url('../fonts/dinpro-regular-webfont.ttf') format('truetype')
  font-weight: 400
  font-style: normal

body
  font 100%/1.618 sans-serif
  font-family Georgia, "Times New Roman", Times, serif

@import 'main-menu'
@import 'left-menu'
@import 'slider'
@import 'content'
@import 'map'
@import 'footer'