.header
  height 220px
  margin-bottom 20px
  background #4EACE0
  background-repeat no-repeat
  background-position bottom right
  background-image url(/images/giraffe-left-200.png)
  background-image url(/images/giraffe-left-200.png), linear-gradient(to top, #1F80C9, #4EACE0)
  background-image url(/images/giraffe-left-200.png), -webkit-gradient(linear, bottom, top, from(#1F80C9), to(#4EACE0))
  background-image url(/images/giraffe-left-200.png), -webkit-linear-gradient(top, #1F80C9, #4EACE0)
  background-image url(/images/giraffe-left-200.png),    -moz-linear-gradient(top, #1F80C9, #4EACE0)
  background-image url(/images/giraffe-left-200.png),     -ms-linear-gradient(top, #1F80C9, #4EACE0)
  background-image url(/images/giraffe-left-200.png),      -o-linear-gradient(top, #1F80C9, #4EACE0)
  background-image url(/images/giraffe-left-200.png),         linear-gradient(to top, #1F80C9, #4EACE0)
  .logo
    text-align center
    line-height 220px
  .title
    cursor pointer
    font-family 'Ubuntu', sans-serif
    h1
      color #FD8736
      font-size 4em
      line-height 220px
  .slogan
    color #fff
    font-size 4em
    text-align right
    font-family 'Lobster', cursive;
  .contacts
    color #fff
    margin 1em
    text-align right
    .phone
      white-space nowrap
      font-size 1.8em
      line-height 1.4em
    .callback
      cursor pointer
      display inline-block
      border-bottom 1px dashed #fff
      &:hover
        color #FD8736
        border-bottom 1px solid #FD8736