.main-menu
  font-size 1.4em
  ul
    li
      font-style italic
      cursor pointer
      display inline
      white-space nowrap
      margin-left 0
      margin-right 1em
      border-bottom 1px dashed #999
      a
        text-decoration none
        &:link
          color #111
        &:visited
          color #111
      &.active
        a
          color #FD8736
          border-bottom 1px solid #FD8736
      &:hover
        a
          color #FD8736
          border-bottom 1px solid #FD8736